:root {
  --primary: #042a38;
  --secondary: #f7f5eb;
  --tertiary: #760933;
}
*:focus {
  outline: none !important;
}
body {
  background-color: var(--primary);
  color: var(--secondary);
}

button:disabled {
  background-color: #421023 !important;
  color: #ccc;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.header {
  font-weight: 700;
  letter-spacing: 2px;
}

.select-section {
  background-color: var(--tertiary);
}

.button-color {
  background-color: var(--primary);
}

.setting {
  color: var(--primary);
}
.setting input {
  background-color: #f7f5eb;
  text-align: center;
  width: 100px;
}
.setting h1 {
  color: var(--secondary);
}
.setting-button {
  background-color: var(--tertiary);
}
.timer-button button {
  background-color: var(--tertiary);
  width: 150px !important;
}
